body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.introduction {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px 0;
}

.skills {
    background-color: #eaeaea;
    padding: 20px;
    margin: 20px 0;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills li {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.contact {
    padding: 20px;
}

.contact ul {
    list-style-type: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: white;
    text-decoration: none;
}
